* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 10rem;
}

/* Search-bar */

.searchbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

.searchbar-logo {
  color: red;
  background-color: white;
}

.searchbar-textlogo {
  color: white;
}

/* PopularList */

.List {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  background-color: antiquewhite;
}

.popvideo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 6rem;
  margin: 0.1rem;
  border: 1px solid black;
}
